<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
	  <profile>
	    <id>fuse-default</id>
	    <activation><activeByDefault>true</activeByDefault></activation>
	    <repositories>
	      <repository>
		<id>release-proxy.fusesource.org</id>
		<name>FuseSource Release Proxy Repository</name>
		<url>http://repo.fusesource.com/nexus/content/groups/m2-release-proxy</url>
		<snapshots>
		  <enabled>false</enabled>
		</snapshots>
		<releases>
		  <enabled>true</enabled>
		</releases>
	      </repository>
	      <repository>
		<id>fusesource-all</id>
		<name>fusesource-all</name>
		<url>http://repo.fusesource.com/nexus/content/groups/public</url>
		<snapshots>
		  <enabled>true</enabled>
		</snapshots>
		<releases>
		  <enabled>true</enabled>
		</releases>
	      </repository>
	      <repository>
		<id>ea.fusesource.org</id>
		<name>FuseSource Early Access Repository</name>
		<url>http://repo.fusesource.com/nexus/content/groups/ea</url>
		<snapshots>
		  <enabled>false</enabled>
		</snapshots>
		<releases>
		  <enabled>true</enabled>
		</releases>
	      </repository>
	      <repository>
		<id>fuse-nexus</id>
		<name>FuseSource Repository</name>
		<url>http://repo.fusesource.com/nexus/content/groups/m2-proxy</url>
		<snapshots>
		  <enabled>true</enabled>
		</snapshots>
		<releases>
		  <enabled>true</enabled>
		</releases>
	      </repository>
	      <repository>
		<id>jboss-public-repository-group</id>
		<name>JBoss Public Repository Group</name>
		<url>http://repository.jboss.org/nexus/content/groups/public/</url>
		<snapshots>
		  <enabled>false</enabled>
		</snapshots>
		<releases>
		  <enabled>true</enabled>
		</releases>
	      </repository>
	      <repository>
		<id>jboss-snapshots-repository</id>
		<name>JBoss Snapshots Repository</name>
		<url>https://repository.jboss.org/nexus/content/repositories/snapshots/</url>
		<snapshots>
		  <enabled>true</enabled>
		</snapshots>
		<releases>
		  <enabled>false</enabled>
		</releases>
	      </repository>
	    </repositories>
	    
	    <pluginRepositories>
	      <pluginRepository>
		<id>release-proxy.fusesource.org</id>
		<name>FuseSource Release Proxy Repository</name>
		<url>http://repo.fusesource.com/nexus/content/groups/m2-release-proxy</url>
		<snapshots>
		  <enabled>false</enabled>
		</snapshots>
		<releases>
		  <enabled>true</enabled>
		</releases>
	      </pluginRepository>
	      <pluginRepository>
		<id>fusesource-all</id>
		<name>fusesource-all</name>
		<url>http://repo.fusesource.com/nexus/content/groups/public</url>
		<snapshots>
		  <enabled>true</enabled>
		</snapshots>
		<releases>
		  <enabled>true</enabled>
		</releases>
	      </pluginRepository>
	      <pluginRepository>
		<id>ea.fusesource.org</id>
		<name>FuseSource Early Access Repository</name>
		<url>http://repo.fusesource.com/nexus/content/groups/ea</url>
		<snapshots>
		  <enabled>false</enabled>
		</snapshots>
		<releases>
		  <enabled>true</enabled>
		</releases>
	      </pluginRepository>
	      <pluginRepository>
		<id>fuse-nexus</id>
		<name>FuseSource Repository</name>
		<url>http://repo.fusesource.com/nexus/content/groups/m2-proxy</url>
		<snapshots>
		  <enabled>true</enabled>
		</snapshots>
		<releases>
		  <enabled>true</enabled>
		</releases>
	      </pluginRepository>
	      <pluginRepository>
		<id>jboss-snapshots-repository</id>
		<name>JBoss Snapshots Repository</name>
		<url>https://repository.jboss.org/nexus/content/repositories/snapshots/</url>
		<snapshots>
		  <enabled>true</enabled>
		</snapshots>
		<releases>
		  <enabled>true</enabled>
		</releases>
	      </pluginRepository>
	    </pluginRepositories>
	  </profile>
	</profiles>

	<activeProfiles>
	  <activeProfile>fuse-default</activeProfile>
	</activeProfiles>

</settings>

